/*
 * @copyright  Tecsmith.com.au
 *   See LICENSE.TXT for copyright notice and details.
 */

#cell {
	padding-top: 0;
}

#box {
	width: 100%;
	max-width: 1024px;
} 

.rounded {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.rounded-top {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.rounded-bottom {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.shadow {
	-webkit-box-shadow: 0 5px 12px #555;
	-moz-box-shadow: 0 5px 12px #555;
	box-shadow: 0 5px 12px #555;
}

th, td,
.boxed {
	padding: 4px;
}

#footer {
	padding-bottom: 2em;
}

table.editlist input[type='text'],
table.editlist input[type='password'],
table.editlist input[type='email'],
table.editlist input[type='number'],
table.editlist select, 
table.editlist textarea {
	-webkit-text-size-adjust: 93%;
	width: 95%;
}

table.editlist input[type='text'],
table.editlist input[type='email'] {
	width: 86%;
}

table.editlist .col_3, 
table.editlist .col_4 { 
	width: 20px;
	border-left: 0;
	padding: 0.5em 2px;
} 
