/* icons, modified for this site */
/**
 * Icons used in CSS3 Buttons are from the excellent "Iconic pack" by
 * "some random dude"! (P.J. Onori)
 * http://somerandomdude.com/projects/iconic/
 * http://somerandomdude.com/ 
 */
.minibutton span.icon{display:inline-block;width:12px;height:12px;margin:auto 4px auto 0;position:relative;top:2px;*top:0px;background-image:url('minibutton_icons.png');background-repeat:no-repeat}
.btn-edit span.icon{background-position:-12px 0;}
.btn-edit:hover span.icon{background-position:-12px -12px;}

.btn-arch span.icon{background-position:-24px 0;}
.btn-arch.danger span.icon{background-position:-24px -24px;}
.btn-arch:hover span.icon{background-position:-24px -12px;}

.btn-anon span.icon{background-position:-36px 0;}
.btn-anon.danger span.icon{background-position:-36px -24px;}
.btn-anon:hover span.icon{background-position:-36px -12px;}

.btn-rstr span.icon{background-position:-48px 0;}
.btn-rstr:hover span.icon{background-position:-48px -12px;}

.btn-back span.icon{background-position:-60px 0;}
.btn-back.silver span.icon{background-position:-60px -36px;}
.btn-back.green span.icon{background-position:-60px -48px;}
.btn-back:hover span.icon{background-position:-60px -12px;}

.btn-subm span.icon{background-position:-72px 0;}
.btn-subm:hover span.icon{background-position:-72px -12px;}

.btn-rset span.icon{background-position:-84px 0;}
.btn-rset.danger span.icon{background-position:-84px -24px;}
.btn-rset:hover span.icon{background-position:-84px -12px;}

.btn-lock span.icon{background-position:-96px 0;}
.btn-lock:hover span.icon{background-position:-96px -12px;}

.btn-mail span.icon{background-position:-108px 0;}
.btn-mail:hover span.icon{background-position:-108px -12px;}
