/* $Id$ */
/* Adapted from Font Squirrel (http://www.fontsquirrel.com) */

@font-face {
	font-family: 'pixelmix';
	src: url('pixelmix.eot');
	src: url('pixelmix.eot?#iefix') format('embedded-opentype'),
		 url('pixelmix.woff') format('woff'),
		 url('pixelmix.ttf') format('truetype'),
		 url('pixelmix.svg#pixelmixRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'pixelmix';
	src: url('pixelmix_bold.eot');
	src: url('pixelmix_bold.eot?#iefix') format('embedded-opentype'),
		 url('pixelmix_bold.woff') format('woff'),
		 url('pixelmix_bold.ttf') format('truetype'),
		 url('pixelmix_bold.svg#pixelmixboldRegular') format('svg');
	font-weight: bold;
	font-style: normal;
}
